<ion-header>
  <ion-navbar>
    <ion-title>Single Review</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<ion-card>

		<ion-item>
			<ion-avatar item-left>
				<img src="{{PhotoURL}}">
			</ion-avatar>
			<h2>{{review.WriterName}}</h2>
		</ion-item>
 
		<ion-card-content>
			<h2 style="font-weight: bold;">{{review.Title}}</h2>
			<h2>
					<ion-icon *ngIf="review.Rating <= 0" name="star-outline" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 0 && review.Rating <= 0.5" name="star-half" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 0.5" name="star" color="secondary"></ion-icon>
					<ion-icon *ngIf="review.Rating <= 1" name="star-outline" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 1 && review.Rating <= 1.5" name="star-half" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 1.5" name="star" color="secondary"></ion-icon>
					<ion-icon *ngIf="review.Rating <= 2" name="star-outline" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 2 && review.Rating <= 2.5" name="star-half" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 2.5" name="star" color="secondary"></ion-icon>
					<ion-icon *ngIf="review.Rating <= 3" name="star-outline" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 3 && review.Rating <= 3.5" name="star-half" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 3.5" name="star" color="secondary"></ion-icon>
					<ion-icon *ngIf="review.Rating <= 4" name="star-outline" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 4 && review.Rating <= 4.5" name="star-half" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 4.5" name="star" color="secondary"></ion-icon>
			</h2>
			<p text-wrap>{{review.Text}}</p>
		</ion-card-content>
		
	</ion-card>

</ion-content>