<ion-header>
  <ion-navbar>
    <ion-title>Recensioni</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	    
	<ion-list> 
		<ion-item *ngFor="let review of ReviewsForDisplay"  (click)="goToSingleReview(review, review.PhotoURL)">
			<ion-avatar item-left>
			<img src="{{review.PhotoURL}}">
			</ion-avatar>
			<h2>{{review.WriterName}}</h2>
			<div>
			<h2>
					<ion-icon *ngIf="review.Rating <= 0.25" name="star-outline" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 0.25 && review.Rating <= 0.75" name="star-half" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 0.75" name="star" color="secondary"></ion-icon>
					<ion-icon *ngIf="review.Rating <= 1.25" name="star-outline" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 1.25 && review.Rating <= 1.75" name="star-half" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 1.75" name="star" color="secondary"></ion-icon>
					<ion-icon *ngIf="review.Rating <= 2.25" name="star-outline" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 2.25 && review.Rating <= 2.75" name="star-half" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 2.75" name="star" color="secondary"></ion-icon>
					<ion-icon *ngIf="review.Rating <= 3.25" name="star-outline" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 3.25 && review.Rating <= 3.75" name="star-half" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 3.75" name="star" color="secondary"></ion-icon>
					<ion-icon *ngIf="review.Rating <= 4.25" name="star-outline" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 4.25 && review.Rating <= 4.75" name="star-half" color="secondary"></ion-icon><ion-icon *ngIf="review.Rating > 4.75" name="star" color="secondary"></ion-icon>
			
					<span>{{review.Title}}</span>
			</h2>
			<p>{{review.Text}}</p>
			</div>
			<ion-note item-right><ion-icon name="arrow-forward"></ion-icon></ion-note>
		</ion-item>
	</ion-list>
</ion-content>
