<ion-header>
  <ion-navbar>
    <ion-title>
      <!--<ion-avatar item-left>
        <img src="{{chat.PhotoURL}}">
      </ion-avatar>-->
      Chat con {{PersonInContact}}
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (tap)="GoToList()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (tap)="SendImage()">
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content hideTabs padding class="background-color-body has-footer">

 <div class="chat">
  <div class="bubble {{mess.OwnerUid == globals.UID ? 'me' : 'you'}}" *ngFor="let mess of chat.MessagesInOrder">
    <img class="chat_image" src="{{mess.Text}}" *ngIf="mess.Type == 1" (tap)="ViewImage(mess)"/>
    <div *ngIf="mess.Type == 0">{{mess.Text}}</div>
  </div>
</div>



</ion-content>

<ion-footer>
  <ion-toolbar style="align-items: center">
    <ion-list>
      <ion-item-group>
      <ion-item>
        <ion-input style="background-color: white" type="text" #input placeholder="" [(ngModel)]="new_message"></ion-input>
        <button item-right ion-fab mini class="send" (tap)="SendMessage(input)"><ion-icon name="send"></ion-icon></button>
      </ion-item>
    </ion-item-group>
    </ion-list>
  </ion-toolbar>
</ion-footer>

<!--<ion-footer style="background-color: white">
  <ion-toolbar style="background-color: white">
    <ion-input left type="text" #input style="background-color: white" [(ngModel)]="new_message"></ion-input>
    <ion-buttons end style="background-color: white">
      <button ion-fab mini class="send" (tap)="SendMessage(input)">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>-->

<!--<ion-footer>
  
    <ion-row>
      <ion-input type="text" #input placeholder="" [(ngModel)]="new_message" style="background-color: white"></ion-input>
      <button ion-fab mini class="send" (tap)="SendMessage(input)"><ion-icon name="send"></ion-icon></button>
    </ion-row>

    <ion-list>
      <ion-item>
      <ion-input style="background-color: white" type="text" #input placeholder="" [(ngModel)]="new_message"></ion-input>
      <button item-right ion-fab mini class="send" (tap)="SendMessage(input)"><ion-icon name="send"></ion-icon></button>
      </ion-item>
    </ion-list>
  
</ion-footer>-->