<ion-view title="Nome lista - nome persona" id="page20" class="background-color-body">
    <ion-nav-title class="title-custom">Nome lista - nome persona</ion-nav-title>


  <ion-scroll direction="y" style="right:0; bottom:0; left:0; position:absolute;" class="has-header has-tabs" class="background-color-body">
    <!-- class="content-stable" on-swipe-left="hideTime = false" on-swipe-right="hideTime = true" -->

    <!--
    <div ng-repeat="message in messages"
         ng-class="{other: message.userId != myId}"
         class="messages">

      <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
        <span>{{ message.text }}</span>
      </div>

      <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>


    </div>
    -->
  </ion-scroll>


  <div keyboard-attach class="bar bar-footer bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
    </label>
    <button class="button button-clear SF-thin" ng-click="sendMessage()">
      Send
    </button>
  </div>

</ion-view>
