<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button (tap)="filters()">
        FILTERS
      </button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <div class="search-bar-container" style="margin: 0px">
      <ion-searchbar id="searchBar" class="search-bar-input" placeholder="Search a place" [(ngModel)]="autocomplete.query" (ionInput)="updateSearch()" (ionCancel)="dismiss()" (ionClear)="dismiss()"></ion-searchbar>

    </div>
</ion-toolbar>
</ion-header>



<ion-content>
  <!--<div id="wrapper">-->
  <ion-list class="maps-suggestions">
    <ion-item *ngFor="let item of autocompleteItems" tappable (tap)="chooseItem(item)" style="">
      {{ item }}
    </ion-item>
  </ion-list>
    <div #map id="map" style="height:100%; display: block"></div>
    <!--<input id="pac-input" class="controls" type="text" placeholder="Search a place" class="search-bar">-->


    <!--<div style="  position: absolute;top: 10px;left: 25%;z-index: 5; padding: 5px;text-align: center;padding-left: 10px;">
      <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of autocompleteItems" tappable (tap)="chooseItem(item)" style="">
          {{ item }}
        </ion-item>
      </ion-list>
    </div>-->
  <!--</div>-->
</ion-content>
