<ion-header>
  <ion-navbar>
    <ion-title *ngIf="list != undefined">Lista {{list.Name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
    <h6 class="center" *ngIf="list != undefined && list.ItemsCount == 0">Nessun prodotto in lista, aggiungilo!</h6>
    <ion-list *ngIf="list != undefined">
      <ion-item (tap)="goToItem(item)" *ngFor="let item of list.Items | keys">
        <ion-label>
          {{item.value.Name}}
        </ion-label>
  			<ion-note item-right>
          {{item.value.Qty}} {{(item.value.Unit == undefined) ? "" : GetUnitName(item.value.Unit)}}
				</ion-note>
      </ion-item>
    </ion-list>


    <div class="lateral-padding">
      <button ion-button block color="secondary" (tap)="publicateList()">Pubblica</button>
    </div>

    <div class="spacer" style="height: 16px;"></div>
    <div class="lateral-bottom-padding">
      <button ion-button block outline color="secondary" (tap)="deleteList()" class="button-negative">Elimina</button>
    </div>

</ion-content>

