<ion-view title="Nome lista" id="page7" class="background-color-body">
  <ion-nav-title class="title-custom">{{list.name}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button icon ion-plus icon-color bar-button-color" ui-sref="tabsController.ElementDetailsDemander"></button>
  </ion-nav-buttons>

  <ion-scroll direction="y" style="right:0; bottom:0; left:0; position:absolute;" class="has-header has-tabs" class="background-color-body">
    <h5 class="SF-thin center" ng-show="list.items.length == 0">NESSUN PRODOTTO IN LISTA. AGGIUNGILO !</h5>
    <div class="list">
      <a class="item item-field" ui-sref="tabsController.ElementDetailsDemander({ProductId: item.objectId})" ng-repeat="item in list.items">
        {{item.name}}
        <span class="item-note item-content">{{item.qty}} {{item.unit.unit_name}}</span>
      </a>
    </div>
    <button class="button button-block button-color SF-regular" ng-click="publicate()">
      Pubblica
    </button>
    <button class="button button-block button-assertive SF-regular" ng-click="delete_list()">
      Elimina
    </button>
  </ion-scroll>
</ion-view>
