 <ion-header>
  <ion-navbar>
    <ion-title>Recensione</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<ion-list>
			<ion-item-group>
			<div class="spacer" style="height: 16px;"></div>
			<ion-item-divider style="border-top-color: transparent;">INFORMAZIONE RECENSIONE</ion-item-divider>
			<ion-item *ngIf="Demander == true" (tap)="GoToProfile()">
				Shopper
				<ion-note item-right>{{PersonUnderReview}} &nbsp; <ion-icon name="arrow-forward"></ion-icon></ion-note>
			</ion-item>
			<ion-item *ngIf="Demander == false" (tap)="GoToProfile()">
				Demander
				<ion-note item-right>{{PersonUnderReview}} &nbsp; <ion-icon name="arrow-forward"></ion-icon></ion-note>
			</ion-item>
			<ion-item>
				Data
				<ion-note item-right>{{ReviewToLeave.TerminatedDate}}</ion-note>
			</ion-item>
			<ion-item>
				Ricompensa
				<ion-note item-right>{{ReviewToLeave.Reward}}</ion-note>
			</ion-item>
			<ion-item icon-right (tap)="ViewItems()">
				Prodotti
				<ion-note item-right><ion-icon name="arrow-forward"></ion-icon></ion-note>
    	</ion-item>
		</ion-item-group>

	</ion-list>

	<div class="lateral-bottom-padding">
      <button ion-button block color="secondary" (tap)="WriteReview()">Scrivi recensione</button>
  </div>
	
</ion-content>