<!--<ion-view title="Fai una commissione" id="page18B" class="background-color-body">
  <ion-nav-title class="title-custom">Fai una commissione</ion-nav-title>
  <ion-nav-buttons side="secondary">
  </ion-nav-buttons>-->

  <ion-header>
    <ion-navbar>
      <ion-title>Le mie commissioni</ion-title>
      <ion-buttons end>
      <button ion-button icon-only (tap)="map()">
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content>

    <ion-list>

		<ion-item-group>
			<div class="spacer" style="height: 16px;"></div>
			<ion-item-divider style="border-top-color: transparent;">CONFERMATE</ion-item-divider>
      <h6 class="center" *ngIf="no_accepted_lists">Nessun lista accettata, attendi ancora!</h6>
			<ion-item (tap)="goToAcceptedList(list)" *ngFor="let list of accepted_lists | keys">
				{{list.value.ChosenAddress.FormattedAddress}}
				<ion-note item-right>{{list.value.ItemsCount}} pezzi</ion-note>
			</ion-item>
		</ion-item-group>

    <ion-item-group>
			<div class="spacer" style="height: 16px;"></div>
			<ion-item-divider style="border-top-color: transparent;">PROPOSTE</ion-item-divider>
      <h6 class="center" *ngIf="no_pending_lists">Nessuna lista in sospeso...</h6>
			<ion-item (tap)="goToPendingList(list)" *ngFor="let list of pending_lists | keys">
        {{list.value.ChosenAddress.FormattedAddress}}
        <ion-note item-right>{{list.value.ItemsCount}} pezzi</ion-note>
			</ion-item>
		</ion-item-group>

    </ion-list>

    <!--<div class="list" style='top: 49px'>
      <div class="item item-divider item-title background-color-list-item-divider" style="border-top-color: transparent;">
        <br>
        CONFERMATE
      </div>
      <h5 class="center" ng-show="accepted_candidatures.length == 0">NESSUNA LISTA CONFERMATA</h5>
      <a class="item item-field" ng-repeat="candidature in accepted_candidatures" ng-click="view_confirmed_candidature(candidature)">
        Lista {{candidature.list_name}}
        <span class="item-note item-content">da: {{list.list_author_name}}</span>
      </a>

      <div class="item item-divider item-title background-color-list-item-divider">
        <br>
        PROPOSTE
      </div>
      <h5 class="SF-thin center" ng-show="candidatures.length == 0">NESSUNA LISTA PROPOSTA</h5>
      <a class="item item-field" ng-repeat="candidature in candidatures" ng-click="view_candidature(candidature)">
        Lista {{candidature.list_name}}
        <span class="item-note item-content">da: {{list.list_author_name}}</span>
      </a>
    </div>-->

  </ion-content>
