<!--<ion-view title="Fai una commissione" id="page18B" class="background-color-body">
  <ion-nav-title class="title-custom">Fai una commissione</ion-nav-title>
  <ion-nav-buttons side="secondary">
  </ion-nav-buttons>-->

  <ion-header>
    <ion-navbar>
      <ion-title>Le mie commissioni</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content class="has-header has-tabs" class="background-color-body">

    <div class="list" style='top: 49px'>
      <div class="item item-divider item-title background-color-list-item-divider" style="border-top-color: transparent;">
        <br>
        CONFERMATE
      </div>
      <h5 class="SF-thin center" ng-show="accepted_candidatures.length == 0">NESSUNA LISTA CONFERMATA</h5>
      <a class="item item-field" ng-repeat="candidature in accepted_candidatures" ng-click="view_confirmed_candidature(candidature)">
        Lista {{candidature.list_name}}
        <span class="item-note item-content">da: {{list.list_author_name}}</span>
      </a>

      <div class="item item-divider item-title background-color-list-item-divider">
        <br>
        PROPOSTE
      </div>
      <h5 class="SF-thin center" ng-show="candidatures.length == 0">NESSUNA LISTA PROPOSTA</h5>
      <a class="item item-field" ng-repeat="candidature in candidatures" ng-click="view_candidature(candidature)">
        Lista {{candidature.list_name}}
        <span class="item-note item-content">da: {{list.list_author_name}}</span>
      </a>
    </div>

  </ion-content>
