<ion-header>
  <ion-navbar>
    <ion-title>Pubblica</ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll="false" style="right:0; bottom:0; left:0; position:absolute;" class="has-header has-tabs background-color-body">

  <ion-list>

    <ion-item>
      <ion-label fixed>Nome<sup>*</sup></ion-label>
      <ion-input [(ngModel)]="list.Name" type="text" value=""></ion-input>
    </ion-item>
			
    <div class="spacer" style="height: 16px;"></div>
		<ion-item-divider class="item-title" style="border-top-color: transparent;">INDIRIZZO E ORARIO CONSEGNA<sup>*</sup></ion-item-divider>

    <ion-item class="item item-field" (click)="ViewAddress(address)" *ngFor="let address of list.DeliveryAddresses | keys">
      <ion-label>
        {{address.value.FormattedAddress}}
      </ion-label>
      <div item-content>
        dalle {{address.value.From}} &nbsp; alle {{address.value.To}}  <br>
      </div>
    </ion-item>

    <div class="spacer" style="height: 16px;"></div>
    <div class="center"><button ion-button round color="primary" (click)="AddAddress()">Aggiungi indirizzo e orario consegna</button></div>

    <div class="spacer" style="height: 16px;"></div>
		<ion-item-divider class="item-title" style="border-top-color: transparent;">RICOMPENSA<sup>*</sup></ion-item-divider>
    
    <ion-item>
      <ion-label fixed>Quantità</ion-label>
      <ion-input [(ngModel)]="list.Reward" type="number" value=""></ion-input>
    </ion-item>


    <div class="spacer" style="height: 16px;"></div>
    <ion-item-divider class="item-title" style="border-top-color: transparent;">SCADENZA<sup>*</sup></ion-item-divider>

    <ion-item>
      <ion-label fixed>Data</ion-label>
      <ion-select [(ngModel)]="list.ExpiryDate" interface="action-sheet" multiple="false" placeholder="Tra 3 giorni">
        <ion-option value="{{i}}" selected="list.ExpiryDate == {{i}}" *ngFor="let expirydate of expirydates; let i = index">
          {{expirydate}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="spacer" style="height: 32px;"></div>
  <button padding ion-button block (click)="GoToPublicateListSecond()">Avanti</button>

</ion-content>

