<ion-header>
  <ion-navbar>
    <ion-title>Pubblica</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item class="center">
      <ion-label fixed>Nome<sup>*</sup></ion-label>
      <ion-input [(ngModel)]="list.Name" type="text" value=""></ion-input>
    </ion-item>

    <ion-item-divider>
      DOVE VUOI LA CONSEGNA?<sup>*</sup>
    </ion-item-divider>


    <ion-item class="item item-field" (click)="ViewAddress(address)" *ngFor="let address of addresses_db | async">
      <ion-label>
        {{address.FormattedAddress}}
      </ion-label>
      <div item-content>
        dalle {{address.From}} &nbsp; alle {{address.To}}  <br>
      </div>
    </ion-item>

    <h5 class="SF-thin center" (click)="AddAddress()">AGGIUNGI UN ALTRO INDIRIZZO</h5>

    <ion-item-divider>
      MANCIA<sup>*</sup>
    </ion-item-divider>

    <ion-item class="center">
      <ion-label fixed>Quantità</ion-label>
      <ion-input [(ngModel)]="list.Reward" type="number" value=""></ion-input>
    </ion-item>


    <ion-item-divider>
      SCADENZA<sup>*</sup>
    </ion-item-divider>

    <ion-item>
      <ion-label fixed>Data</ion-label>
      <ion-select [(ngModel)]="list.ExpiryDate" interface="action-sheet" multiple="false" placeholder="Tra 3 giorni">
        <ion-option value="{{expirydate}}" selected="(expirydate=='Tra 3 giorni' && list.ExpiryDate == undefined) || (list.ExpiryDate != null && expirydate == list.ExpiryDate)" *ngFor="let expirydate of expirydates">
          {{expirydate}}
        </ion-option>
      </ion-select>
    </ion-item>

    <!-- DA AGGIUNGERE: Trattabile con toggle a destra -->

    <ion-item-divider>
      DETTAGLI
    </ion-item-divider>

    <ion-item class="center">
      <ion-label fixed>Negozio preferito</ion-label>
      <ion-input [(ngModel)]="list.PreferredShops" type="text" value=""></ion-input>
    </ion-item>
    <ion-item class="center">
      <ion-label fixed>Valore massimo spesa</ion-label>
      <ion-input [(ngModel)]="list.MaxValue" type="number" value=""></ion-input>
    </ion-item>
    <ion-item class="center">
      <ion-label fixed>Altri commenti</ion-label>
      <ion-input [(ngModel)]="list.Comments" type="text" value=""></ion-input>
    </ion-item>
    <ion-item class="center">
      <ion-label fixed>Peso stimato (kg)</ion-label>
      <ion-input [(ngModel)]="list.EstimatedWeight" type="number" value=""></ion-input>
    </ion-item>

  </ion-list>

  <button padding ion-button round (click)="PublicateList()" class="SF-regular">Pubblica</button>

</ion-content>

