 <ion-header>
  <ion-navbar>
    <ion-title>Recensioni in attesa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 
	<ion-list>
			<ion-item-group>
				<div class="spacer" style="height: 16px;"></div>
				<ion-item-divider style="border-top-color: transparent;">SPESE DA DEMANDER</ion-item-divider>
				<ion-item *ngFor="let reviewD of globals.ReviewsToLeaveAsDemander" (tap)="ViewReviewToLeave(reviewD)">
						<ion-avatar item-left>
						<img src="{{reviewD.PhotoURL}}">
						</ion-avatar>
						<h2>{{reviewD.ChosenShopperName}}</h2>
						<p>{{reviewD.TerminatedDate}}</p>
						<ion-note item-right><ion-icon name="arrow-forward"></ion-icon></ion-note>
				</ion-item>
			</ion-item-group>

			<ion-item-group>
				<div class="spacer" style="height: 16px;"></div>
				<ion-item-divider style="border-top-color: transparent;">SPESE DA SHOPPER</ion-item-divider>
				<ion-item *ngFor="let reviewS of globals.ReviewsToLeaveAsShopper" (tap)="ViewReviewToLeave(reviewS)">
						<ion-avatar item-left>
						<img src="{{reviewS.PhotoURL}}">
						</ion-avatar>
						<h2>{{reviewS.DemanderName}}</h2>
						<p>{{reviewS.TerminatedDate}}</p>
						<ion-note item-right><ion-icon name="arrow-forward"></ion-icon></ion-note>
				</ion-item>
			</ion-item-group>

		</ion-list>
	
</ion-content>