<ion-header>
  <ion-navbar>
	<button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Liste</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addList()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
	<ion-toolbar>
		<ion-segment [(ngModel)]="lists" color="light">
			<ion-segment-button value="demander">
				Demander
			</ion-segment-button>
			<ion-segment-button value="shopper">
				Shopper
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content scroll="false" style="right:0; bottom:0; left:0; position:absolute;" class="has-header has-tabs background-color-body">
	
	<div [ngSwitch]="lists">
		<!-- DEMANDER -->
		<div *ngSwitchCase="'demander'">
			<ion-card color="secondary">
				<ion-card-header>
					PUBBLICATE
				</ion-card-header>

				<ion-list>
					<ion-item detail-none *ngIf="globals.NoPublishedLists">
						<ion-label class="center">Nessuna lista attiva</ion-label>
					</ion-item>

					<ion-item *ngFor="let list of globals.PublishedLists_db | async" (click)="goToPublicatedList(list)">
						<ion-label>
							{{list.Name}}
						</ion-label>
						<ion-note item-right>
							{{GetItemsCount(list)}} pezzi
						</ion-note>
					</ion-item>
				</ion-list>
			</ion-card>
			<ion-card color="secondary">
				<ion-card-header>
					TEMPORANEE
				</ion-card-header>
				<ion-list>
					<ion-item detail-none *ngIf="globals.NoUnpublishedLists">
						<ion-label class="center" >Nessuna lista da pubblicare</ion-label>
					</ion-item>

					<ion-item *ngFor="let list of globals.UnpublishedLists_db | async" (click)="goToList(list)">
						<ion-label>
							{{list.Name}}
						</ion-label>
						<ion-note item-right>
							{{GetItemsCount(list)}} pezzi
						</ion-note>
					</ion-item>
				</ion-list>
			</ion-card>
		</div>

		<!-- SHOPPER -->
		<div *ngSwitchCase="'shopper'">
			<ion-card color="secondary">
				<ion-card-header>
					CONFERMATE
				</ion-card-header>
				<ion-list>
					<ion-item detail-none *ngIf="no_accepted_lists">
						<ion-label class="center">Nessun lista accettata, attendi ancora!</ion-label>
					</ion-item>
					<ion-item (click)="goToAcceptedList(list)" *ngFor="let list of accepted_lists | keys">
						{{list.value.ChosenAddress.FormattedAddress}}
						<ion-note item-right>{{list.value.ItemsCount}} pezzi</ion-note>
					</ion-item>
				</ion-list>
			</ion-card>
			<ion-card color="secondary">
				<ion-card-header>
					PROPOSTE
				</ion-card-header>
				<ion-list>
					<ion-item detail-none *ngIf="no_pending_lists">
						<ion-label class="center">Nessuna lista in sospeso</ion-label>
					</ion-item>
					<ion-item (click)="goToPendingList(list)" *ngFor="let list of pending_lists | keys">
						{{list.value.ChosenAddress.FormattedAddress}}
						<ion-note item-right>{{list.value.ItemsCount}} pezzi</ion-note>
					</ion-item>
				</ion-list>
			</ion-card>
		</div>
	</div>

</ion-content>
