<ion-header>
  <ion-navbar>
	<button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Liste</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addList()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
	<ion-toolbar>
		<ion-segment [(ngModel)]="lists" color="light">
			<ion-segment-button value="demander">
				Demander
			</ion-segment-button>
			<ion-segment-button value="shopper">
				Shopper
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content scroll="false" class="background-color-body">
	
	<div [ngSwitch]="lists">
		<!-- DEMANDER -->
		<ion-list *ngSwitchCase="'demander'">
			<ion-item-group>
				<div class="spacer" style="height: 16px;"></div>
				<ion-item-divider color="light" class="item-title">PUBBLICATE</ion-item-divider>
				<ion-item detail-none *ngIf="globals.NoPublishedLists">
					<h5 class="center">Nessuna lista attiva</h5>
				</ion-item>

				<ion-item *ngFor="let list of globals.PublishedLists_db | async" (click)="goToPublicatedList(list)">
					<ion-label>
						{{list.Name}}
					</ion-label>
					<ion-note item-right>
						{{GetItemsCount(list)}} pezzi
					</ion-note>
				</ion-item>
			</ion-item-group>
			
			<ion-item-group>
				<div class="spacer" style="height: 16px;"></div>
				<ion-item-divider color="light" class="item-title">TEMPORARIE</ion-item-divider>
				<ion-item detail-none *ngIf="globals.NoUnpublishedLists">
					<h5 class="center">Nessuna lista da pubblicare</h5>
				</ion-item>

				<ion-item *ngFor="let list of globals.UnpublishedLists_db | async" (click)="goToList(list)">
					<ion-label>
						{{list.Name}}
					</ion-label>
					<ion-note item-right>
						{{GetItemsCount(list)}} pezzi
					</ion-note>
				</ion-item>
			</ion-item-group>
		</ion-list>

		<!-- SHOPPER -->
		<ion-list *ngSwitchCase="'shopper'">
			<ion-item-group>
				<div class="spacer" style="height: 16px;"></div>
				<ion-item-divider class="item-title">CONFERMATE</ion-item-divider>
				<ion-item detail-none *ngIf="globals.NoAcceptedLists">
					<h5 class="center">Nessun lista accettata, attendi ancora!</h5>
				</ion-item>
				<ion-item (click)="goToAcceptedList(list)" *ngFor="let list of globals.AcceptedLists | keys">
					{{list.value.ChosenAddress.FormattedAddress}}
					<ion-note item-right>{{list.value.ItemsCount}} pezzi</ion-note>
				</ion-item>
			</ion-item-group>

			<ion-item-group>
				<div class="spacer" style="height: 16px;"></div>
				<ion-item-divider class="item-title">PROPOSTE</ion-item-divider>
				<ion-item detail-none *ngIf="globals.NoAppliedLists">
					<h5 class="center">Nessuna lista in sospeso</h5>
				</ion-item>
				<ion-item (click)="goToPendingList(list)" *ngFor="let list of globals.AppliedLists | keys">
					{{list.value.ChosenAddress.FormattedAddress}}
					<ion-note item-right>{{list.value.ItemsCount}} pezzi</ion-note>
				</ion-item>
			</ion-item-group>
		</ion-list>
	</div>

</ion-content>
