<ion-header>
  <ion-navbar>
    <ion-title>Cronologia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-card color="secondary">
    <ion-card-header>
      SPESE DA DEMANDER
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let listD of globals.TerminatedListsAsDemander" (click)="goToListDetails()">
        <ion-avatar item-left (click)="goToProfileOtherUser(listD.ChosenShopperUid)">
          <img src="assets/img/17_profilo/Alberto.jpg">
        </ion-avatar>
        <ion-label>{{listD.ChosenShopperName}}</ion-label>
        <ion-note item-right>{{listD.TerminatedDate}}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-header>
       SPESE DA SHOPPER
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let listS of globals.TerminatedListsAsShopper" (click)="goToListDetails()">
        <ion-avatar item-left (click)="goToProfileOtherUser(listS.owner)">
          <img src="assets/img/17_profilo/Alberto.jpg">
        </ion-avatar>
        <ion-label>{{listS.DemanderName}}</ion-label>
        <ion-note item-right>{{listS.TerminatedDate}}</ion-note>
      </ion-item>

    </ion-list>
  </ion-card>

</ion-content>