<ion-view title="Modifica profilo" id="page24A" class="background-color-body">
  <ion-nav-title class="title-custom">Modifica profilo</ion-nav-title>

  <ion-scroll direction="y" style="right:0; bottom:0; left:0; position:absolute;" class="has-header" class="background-color-body">
    <div class="center" style="background-color:white">
      <br>
      <img id="profile_image" class="image-circle" src="{{user.profile_pic_url}}" height="100" width="100" onerror="this.src=get_unknown_man_pic()">
      <h5 class="SF-thin" style="margin-top:0px; margin-bottom:0px; padding-top:10px; padding-bottom:10px">CARICA IMMAGINE PROFILO</h5>
    </div>
    <div class="list SF-regular">
      <div class="item item-divider SF-medium background-color-list-item-divider">
        <br>
        INFORMAZIONI PERSONALI
      </div>
      <label class="item item-input">
        <span class="input-label" style="color:black">Nazionalita'</span>
        <input type="text" ng-model="user.nationality">
      </label>
      <label class="item item-input">
        <span class="input-label" style="color:black">Cellulare</span>
        <input type="text" ng-model="user.mobile_number">
      </label>
      <label class="item item-input">
        <span class="input-label" style="color:black">Sesso</span>
        <input type="text" ng-model="user.gender">
      </label>
      <label class="item item-input">
        <span class="input-label" style="color:black">Data di nascita</span>
        <input type="text" ng-model="user.birthday">
      </label>
    </div>
    <br>
    <button class="button button-block button-color SF-regular" ng-click="save_user()">Salva</button>
  </ion-scroll>
</ion-view>